@import "../colors/index.scss";

@each $color, $val, $fontColor in $colors {
  .line-#{$color}::after,
  .lines-#{$color}::after {
    border-color: $val;
  }
  .bg-#{$color} {
    background-color: $val;
    color: if($fontColor, $fontColor, $white);
  }
}

// 浅色
@each $color, $value1, $value2 in $lightColors {
  .bg-#{$color}.light {
    background-color: $value1;
    color: $value2;
  }
}

.bg-shadeTop {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
  color: $white;
}

.bg-shadeBottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  color: $white;
}

.bg-gradual-red {
  background-image: $gradualRed;
  color: $white;
}

.bg-gradual-orange {
  background-image: $gradualOrange;
  color: $white;
}

.bg-gradual-green {
  background-image: $gradualGreen;
  color: $white;
}

.bg-gradual-purple {
  background-image: $gradualPurple;
  color: $white;
}

.bg-gradual-pink {
  background-image: $gradualPink;
  color: $white;
}

.bg-gradual-blue {
  background-image: $gradualBlue;
  color: $white;
}
