@import "../variables/default.scss";
@import "../mixins/libs/add-bg-colors.scss";
$prefixCls: cu-avatar;

.#{$prefixCls} {
  font-variant: small-caps;
  margin: 0;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: #fff;
  white-space: nowrap;
  position: relative;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  font-size: 1.5em;

  &__round {
    border-radius: 5000px;
  }

  &__radius {
    border-radius: 12px;
  }

  &__small {
    width: 48px;
    height: 48px;
    font-size: 1em;
  }

  &__large {
    width: 96px;
    height: 96px;
    font-size: 2em;
  }

  &__xl {
    width: 128px;
    height: 128px;
    font-size: 2.5em;
  }

  .text {
    font-size: 0.4em;
  }
}

.cu-avatar-group {
  direction: rtl;
  unicode-bidi: bidi-override;
  padding: 0 10px 0 40px;
  display: inline-block;

  .#{$prefixCls} {
    margin-left: -30px;
    border: 4px solid #f1f1f1;
    vertical-align: middle;
    &.#{$prefixCls}__sm {
      margin-left: -20px;
      border: 1rpx solid #f1f1f1;
    }
  }
}

@include add-bg-colors($prefixCls);
