@import "../assets/grid.scss";

.grid > .cu-item {
  position: relative;
  display: flex;
  padding: 20px 0 30px;
  transition-duration: 0s;
  flex-direction: column;
}

.grid > .cu-item:after {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  content: " ";
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
}

.grid > .cu-item text {
  display: block;
  margin-top: 10px;
  color: #888;
  font-size: 26px;
  line-height: 40px;
}

.grid > .cu-item .icon {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 100%;
  font-size: 48px;

  .img {
    width: 50px;
    height: 50px;
  }
}

.grid > .cu-item .cu-tag {
  right: auto;
  left: 50%;
  margin-left: 20px;
}

.grid {
  background-color: #fff;
  text-align: center;
}

.grid.no-border > .cu-item {
  padding-top: 10px;
  padding-bottom: 20px;
}

.grid.no-border > .cu-item:after {
  border: none;
}

.grid.no-border {
  padding: 20px 10px;
}

.grid.col-2 > .cu-item:nth-child(2n):after,
.grid.col-3 > .cu-item:nth-child(3n):after,
.grid.col-4 > .cu-item:nth-child(4n):after,
.grid.col-5 > .cu-item:nth-child(5n):after {
  border-right-width: 0;
}

.cu-tag {
  font-size: 24px;
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 16px;
  height: 48px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  white-space: nowrap;
}

.cu-tag.badge {
  border-radius: 200px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  padding: 0px 10px;
  height: 28px;
  color: #ffffff;
}
