$prefixCls: cu-switch;

.#{$prefixCls} {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 52px;
  border-radius: 1000px;

  .fui-switch {
    width: 100px;
    height: 48px;
    border-radius: 1000px;
    font-size: 22px;
    padding: 2px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      width: 48px;
      height: 48px;
      left: 2px;
      border-radius: 28px;
      border: 1px solid #e3e4e5;
      transition-duration: 0.2s;
      background-color: #fff;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }
  }

  &.checked .fui-switch {
    &::after {
      content: " ";
      transform: translateX(48px);
    }
  }

  &.disabled {
    opacity: 0.4;
  }
}
