.cu-swiper {
  & .a-swiper-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    vertical-align: middle;
  }

  &[class*="-dot"] .wx-swiper-dots {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &.square-dot .wx-swiper-dot {
    background-color: #fff;
    opacity: 0.4;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 0 8px !important;
  }

  &.square-dot .wx-swiper-dot.wx-swiper-dot-active {
    opacity: 1;
    width: 30px;
  }

  &.round-dot .wx-swiper-dot {
    width: 10px;
    height: 10px;
    position: relative;
    margin: 4px 8px !important;
  }

  &.round-dot .wx-swiper-dot.wx-swiper-dot-active::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
  }

  &.round-dot .wx-swiper-dot.wx-swiper-dot-active {
    width: 18px;
    height: 18px;
  }
}

.screen-swiper {
  min-height: 375px;
}

.screen-swiper image,
.screen-swiper video,
.swiper-item image,
.swiper-item video {
  width: 100%;
  display: block;
  height: 100%;
  margin: 0;
  pointer-events: none;
}

.card-swiper {
  height: 420px !important;
}

.card-swiper .cu-swiper-item {
  width: 610px !important;
  left: 70px;
  box-sizing: border-box;
  padding: 40px 0px 70px;
  overflow: initial;
}

.card-swiper .cu-swiper-item .swiper-item {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 10px;
  transform: scale(0.9);
  transition: all 0.2s ease-in 0s;
  overflow: hidden;
}

.card-swiper .cu-swiper-item.cur .swiper-item {
  transform: none;
  transition: all 0.2s ease-in 0s;
}
