.logo {
  width: 60px;
  height: 45px;
}

.name {
  font-size: 28px;
  background: linear-gradient(135deg, #fd6585 10%, #0d25b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
